@import "tailwindcss";

 
.container{
    height: 300vh;
    position: relative;
    .sticky{
        position: sticky;
        overflow: hidden;
        top: 0;
        height: 100vh;

        .el{
            width: 100%;
            height: 100%;
            top: 0;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            .imageContainer{
                position: relative;
                width: 25vw;
                height: 25vh;
                
            }

            /* blue box*/
            &:nth-of-type(2){
                .imageContainer{
                    top: -25vh;
                    left: 9vw;
                    width: 40vw;
                    height: 40vh;
                }
            }
            /*orange box*/
            &:nth-of-type(3){
                .imageContainer{
                    top: -25vh;
                    left: -22vw;
                    width: 40vw;
                    height: 40vh;
                }
            }
            /*pink box*/
            &:nth-of-type(4){
                .imageContainer{
                    top: -3vh;
                    left: 29vw;
                    width: 30vw;
                    height: 20vh;
                }
            }
            /*deeep maroon box*/
            &:nth-of-type(5){
                .imageContainer{
                    top: 27vh;
                    left: 27vw;
                    width: 20vw;
                    height: 25vh;       
                }
            }
            
            /* orange box*/
            &:nth-of-type(6){
                .imageContainer{
                    top: 27vh;
                    left: -22vw;
                    width: 40vw;
                    height: 25vh;
                }
            }
            
        }
    }
} 


